<div class="card pd-icon-card mt-5 mb-3 mx-3 pd-corner-dkblue p-1" >
  <div class="row no-gutters">
    <div class="col-md-7 col-lg-8" style="min-height: 400px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.8214386258924!2d-77.17394068465012!3d38.88232697957292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b4c028900b8d%3A0x27d3c64773daeabd!2s105%20W%20Broad%20St%204th%20floor%2C%20Falls%20Church%2C%20VA%2022046!5e0!3m2!1sen!2sus!4v1648837122153!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="card-body">
        <h2 class="pd-map-header pb-0 text-muted"><small>Address</small></h2>
        <address class="card-text">105 West Broad Street, 4th Floor<br />Falls Church, VA 22046</address>
        <h2 class="pd-map-header pb-0 text-muted"><small>Phone</small></h2>
        <address class="card-text">703-522-2696</address>
        <h2 class="pd-map-header pb-0 text-muted"><small>Email</small></h2>
        <address class="card-text"><a href="mailto:solutions@pluribusdigital.com">solutions@<span class='text-nowrap'>pluribusdigital.com</span></a></address>
      </div>
    </div>
  </div>
</div>
