<div class="pd-hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 pl-4 pb-4 my-auto text-center text-lg-left">
        <h1 class="display-2 font-weight-bolder ">
          {{page.hero.primary_text}}
        </h1>
        {% if page.hero.button_path != null and page.hero.button_text != null %}
        <a href="/{{page.hero.button_path}}" class="btn btn-danger mt-4">
          {{page.hero.button_text}}
        </a>
        {% endif %}
      </div>
      <div class="col-lg-6 col-12 pb-0 text-center my-auto">
        <img src="/{{page.hero.img_path}}" class="pd-hero-img {{page.hero.img_classes}}" alt="{{page.hero.img_alt}}" />
      </div>
    </div>
  </div>
</div>