<div class="card pd-icon-card mt-5 mb-3 mx-3 pd-corner-dkblue p-1" >
  <div class="row no-gutters">
    <div class="col-md-7 col-lg-8" style="min-height: 400px;">
      <iframe title="Interactive Map of Office" src="https://www.google.com/maps/place/105+W+Broad+St+4th+floor,+Falls+Church,+VA+22046/@38.882327,-77.1739407,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b4c028900b8d:0x27d3c64773daeabd!8m2!3d38.882327!4d-77.171752" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="card-body">
        <h2 class="pd-map-header pb-0 text-muted"><small>Address</small></h2>
        <address class="card-text">105 West Broad Street, 4th Floor<br />Falls Church, VA 22046</address>
        <h2 class="pd-map-header pb-0 text-muted"><small>Phone</small></h2>
        <address class="card-text">703-522-2696</address>
        <h2 class="pd-map-header pb-0 text-muted"><small>Email</small></h2>
        <address class="card-text"><a href="mailto:solutions@pluribusdigital.com">solutions@<span class='text-nowrap'>pluribusdigital.com</span></a></address>
      </div>
    </div>
  </div>
</div>

