<footer class="py-5 py-md-5  pd-footer text-white">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-3 px-5 mb-3 text-center text-md-left">
        <img src="{{site.baseurl}}img/template/p-logo.svg" style="max-height: 130px" alt="Pluribus Digital Logo" />
      </div>
      <div class="col col-12 col-md-5 px-5 text-center text-md-left mb-3">
        <nav class="row">
          <a class="col col-6  mb-3 text-light text-nowrap" href="{{site.baseurl}}">Home</a>
          <a class="col col-6  mb-3 text-light text-nowrap" href="{{site.baseurl}}content/story">Our Story</a>
          <a class="col col-6  mb-3 text-light text-nowrap" href="{{site.baseurl}}content/work">Our Work</a>
          <a class="col col-6  mb-3 text-light text-nowrap" href="{{site.baseurl}}content/join">Join Us</a>
          <a class="col col-6  mb-3 text-light text-nowrap" href="https://medium.com/pluribusdigital" target="_blank">Blog</a>
          <a class="col col-6  mb-3 text-light text-nowrap" href="{{site.baseurl}}content/contact">Contact</a>
        </nav>
      </div>
      <div class="col col-12 col-md-2 offset-md-1 px-5 text-center text-md-left">
        {% include template_footer_socials.html %}
      </div>
      <div class="col-12 mt-3 mt-lg-0 text-uppercase text-center" style="color: #999;">
        &copy 2020 Pluribus Digital
      </div>
    </div>
  </div>
</footer>