<header class="pd-site-header">
  <div
    class="container d-flex flex-column flex-md-row align-items-center py-3 "
  >
    <h1 class="my-0 mr-md-auto font-weight-normal">
      <a href="/">
      <img
        src="/img/template/pluribusdigital-w.svg"
        alt="Pluribus Digital Logo"
        style="width: 200px"
      />
      </a>
    </h1>
    <nav
      class="pd-nav mx-2 mt-4 my-md-0 mr-lg-3 text-uppercase font-weight-bold text-md-nowrap text-center text-md-right"
    >
      <a class="px-2 py-1 mx-lg-3 text-nowrap {%if page.nav_highlight == 'story'%}text-primary{%else%}text-dark{%endif%}" href="/story">Our Story</a>
      <a class="px-2 py-1 mx-lg-3 text-nowrap {%if page.nav_highlight == 'work'%}text-primary{%else%}text-dark{%endif%}" href="/work">Our Work</a>
      <a class="px-2 py-1 mx-lg-3 text-nowrap {%if page.nav_highlight == 'join'%}text-primary{%else%}text-dark{%endif%}" href="/join">Join Us</a>
      <a class="px-2 py-1 mx-lg-3 text-nowrap text-dark" href="https://medium.com/pluribusdigital" target="_blank">Blog</a>
      <a class="px-2 py-1 mx-lg-3 text-nowrap {%if page.nav_highlight == 'contact'%}text-primary{%else%}text-dark{%endif%}" href="/contact">Contact</a>
    </nav>
  </div>
</header>