{% comment %} This is used for just about every page. It provides the border
around the content. The home page uses wide.html layout, since it extends full
width of page {% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <!---

                          WNK0KXNW                          
                       WKOdl::cldk0XW                       
                   WX0xl:,,,,;cccccodkKNW                   
               WN0koc;,,,,,,,;:cccccccloxOKNW               
            NKkdc;,,,,,,,,,,,;:ccccccccccclox0XN            
           WKdc;,,,,,,,,,,,,,;:ccccccccccccccld0N           
             WXOxl:,,,,,,,,,,;:cccccccccclooxkO0N           
                 NKkdc;,,,,,,;:ccccccclodxkOOOO0N           
                    WNKkoc;,,;:ccclodxkOOOOOOOO0N           
                        WX0xollodxkOOOOOOOOOOOO0N           
                            NOddxkkOOOOOOOOOOOO0N           
                            W0ooloodxkkOOOOOOOO0N           
                            W0dollllloodxkOOOOO0N           
                            W0dolllllllllodxkkO0N           
           WNWW             W0dolllllllllllloox0N           
           Koox0XW          W0dollllllllllodk0XN            
           0c;;;cok0NW      W0dollllllodxOKNW               
           0c;;;;;;:ldOKNW  W0dollloxOKXW                   
           0c;;;;;;;;;;:lxOXNOddxk0XN                       
           0c;;;;;;;;,;;;;;cdOKXNW                          
           0c;;;;;;;;;;;::cloONW                            
           0c;;;;;;;::ccllllo0WW                            
           0c;;;;:ccllllllllo0NW                            
           0l::clllllllllllloONW                            
           N0kxolllllllllllloONW                            
             WNX0kdolllllllloOWW                            
                 WNKOxdollllo0WW                            
                     WNKOxdloOWW                            
                         WX0OKWW                            
                            W                               

  Hi there...  
  If you're peeking at the source code, 
  perhaps you'd be interested in a job.
  Please do check out the "Join Us" page!
  
  -->
  <head>
    {% include template_google_analytics.html %}
    <title>{{page.title}} | Pluribus Digital</title>
    {% include template_meta.html %}
  </head>

  <body>
    <a class="sr-only sr-only-focusable" href="#main-content"
      >Skip to main content</a
    >

    {% include template_header.html %}

    <main id="main-content">
      {% if page.hero %} 
        {% include component_hero.html %} 
      {% else %}
        {% include template_title.html %}
      {% endif %} 
      {{ content }}
    </main>

    {% include template_footer.html %}
  </body>
</html>
